body, html{
   margin:0;
   padding:0;
   background-color: #DCd0c0;

}


/* Add a black background color to the top navigation */
.navBar {
   background-color: #474B4F;
   overflow: hidden;

}

/* Style the links inside the navigation bar */
.navBar a {
   float: left;
   //color: #373737;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
.navBarText  {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}
/* Change the color of links on hover */
.navBar a:hover {
   background-color: #DCd0c0;
   color: black;
}

/* Add a color to the active/current link */
.navBar a.active {
   background-color: #c0b283;
   color: #373737;
}
.navBar-right {
   float: right;
}

#mainbody{
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   //width: 50%;
}

#selectItems{
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}



/* Style the tab */
.tab {
   overflow: hidden;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
   background-color: inherit;
   float: left;
   border: none;
   outline: none;
   cursor: pointer;
   padding: 14px 16px;
   transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
   background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
   background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
   display: none;
   padding: 6px 12px;
   border: 1px solid #ccc;
   border-top: none;
}
